[package]
authors = ["Lars Francke <lars.francke@stackable.de>"]
description = "Stackable Operator for Apache ZooKeeper"
edition = "2018"
license = "OSL-3.0"
name = "stackable-zookeeper-operator-binary"
repository = "https://github.com/stackabletech/zookeeper-operator"
version = "0.4.1-nightly"
build = "build.rs"

[dependencies]
stackable-operator = { git = "https://github.com/stackabletech/operator-rs.git", branch = "main" }
stackable-zookeeper-crd = { path = "../crd" }
stackable-zookeeper-operator = { path = "../operator" }

clap = "2.33"
tokio = { version = "1.12", features = ["macros", "rt-multi-thread"] }
tracing = "0.1"

[build-dependencies]
built = { version =  "0.5", features = ["chrono", "git2"] }
stackable-operator = { git = "https://github.com/stackabletech/operator-rs.git", branch = "main" }
stackable-zookeeper-crd = { path = "../crd" }

[package.metadata.deb]
name = "stackable-zookeeper-operator"
maintainer-scripts = "../../packaging/debian/"
systemd-units = { enable = false, unit-name = "stackable-zookeeper-operator" }
assets = [
    ["../../target/release/stackable-zookeeper-operator", "opt/stackable/zookeeper-operator/", "755"],
    ["../../deploy/crd/zookeepercluster.crd.yaml", "etc/stackable/zookeeper-operator/crd/", "644"],
    ["../../deploy/crd/restart.crd.yaml", "etc/stackable/zookeeper-operator/crd/", "644"],
    ["../../deploy/crd/start.crd.yaml", "etc/stackable/zookeeper-operator/crd/", "644"],
    ["../../deploy/crd/stop.crd.yaml", "etc/stackable/zookeeper-operator/crd/", "644"],
    ["../../deploy/config-spec/properties.yaml", "etc/stackable/zookeeper-operator/config-spec/", "644"],
]

[[bin]]
name = "stackable-zookeeper-operator"
path = "src/stackable-zookeeper-operator.rs"
