[package]
name = "stackable-zookeeper-operator"
authors = ["Stackable GmbH <info@stackable.de>"]
description = "Stackable Operator for Apache ZooKeeper"
license = "OSL-3.0"
version = "0.0.0-dev"
edition = "2021"
repository = "https://github.com/stackabletech/zookeeper-operator"
publish = false

[dependencies]
anyhow = "1.0.58"
clap = "4.2.3"
failure = "0.1.8"
fnv = "1.0.7"
futures = { version = "0.3.26" }
semver = "1.0.12"
serde = "1.0.138"
snafu = "0.7.1"
strum = { version = "0.24.1", features = ["derive"] }
tokio = { version = "1.24.1", features = ["full"] }
tokio-zookeeper = "0.2.1"
tracing = "0.1.35"
pin-project = "1.0.11"
stackable-operator = { git = "https://github.com/stackabletech/operator-rs.git", tag = "0.40.2" }
stackable-zookeeper-crd = { path = "../crd" }

[build-dependencies]
built = { version = "0.6.0", features = ["chrono", "git2"] }
stackable-operator = { git = "https://github.com/stackabletech/operator-rs.git", tag = "0.40.2" }
stackable-zookeeper-crd = { path = "../crd" }
