[package]
name = "stackable-zookeeper-operator"
authors = ["Stackable GmbH <info@stackable.de>"]
description = "Stackable Operator for Apache ZooKeeper"
license = "OSL-3.0"
version = "0.10.0-nightly"
edition = "2021"
repository = "https://github.com/stackabletech/zookeeper-operator"

[dependencies]
anyhow = "1.0.57"
clap = { version = "3.1.18", features = ["derive"] }
failure = "0.1.8"
fnv = "1.0.7"
futures = { version = "0.3.21", features = ["compat"] }
semver = "1.0.9"
serde = "1.0.137"
serde_json = "1.0.81"
serde_yaml = "0.8.24"
snafu = "0.7.1"
strum = { version = "0.24.0", features = ["derive"] }
tokio = { version = "1.18.2", features = ["full"] }
tokio01 = { version = "0.1.22", package = "tokio" }
tokio-executor = "0.1.10"
tokio-zookeeper = "0.1.3"
tracing = "0.1.34"
pin-project = "1.0.10"
stackable-operator = { git = "https://github.com/stackabletech/operator-rs.git", tag = "0.21.0" }
stackable-zookeeper-crd = { path = "../crd" }

[build-dependencies]
built = { version = "0.5.1", features = ["chrono", "git2"] }
stackable-operator = { git = "https://github.com/stackabletech/operator-rs.git", tag = "0.21.0" }
stackable-zookeeper-crd = { path = "../crd" }
