[package]
name = "stackable-zookeeper-operator"
authors = ["Stackable GmbH <info@stackable.de>"]
description = "Stackable Operator for Apache ZooKeeper"
license = "OSL-3.0"
version = "0.9.0-nightly"
edition = "2021"
repository = "https://github.com/stackabletech/zookeeper-operator"

[dependencies]
failure = "0.1.8"
futures = { version = "0.3.19", features = ["compat"] }
semver = "1.0.4"
serde = "1.0.133"
serde_json = "1.0.73"
serde_yaml = "0.8.23"
snafu = "0.6.10"
structopt = "0.3.25"
strum = "0.23.0"
strum_macros = "0.23.1"
tokio = { version = "1.15.0", features = ["full"] }
tokio01 = { version = "0.1.22", package = "tokio" }
tokio-executor = "0.1.10"
tokio-zookeeper = "0.1.3"
tracing = "0.1.29"
pin-project = "1.0.8"
stackable-operator = { git = "https://github.com/stackabletech/operator-rs.git", tag = "0.6.0" }
stackable-zookeeper-crd = { path = "../crd" }
anyhow = "1.0.52"
fnv = "1.0.7"

[build-dependencies]
built = { version = "0.5.1", features = ["chrono", "git2"] }
stackable-operator = { git = "https://github.com/stackabletech/operator-rs.git", tag = "0.6.0" }
stackable-zookeeper-crd = { path = "../crd" }
