[package]
name = "stackable-zookeeper-operator"
authors = ["Stackable GmbH <info@stackable.de>"]
description = "Stackable Operator for Apache ZooKeeper"
license = "OSL-3.0"
version = "0.13.0-nightly"
edition = "2021"
repository = "https://github.com/stackabletech/zookeeper-operator"
publish = false

[dependencies]
anyhow = "1.0.58"
clap = { version = "4.0.26", features = ["derive"] }
failure = "0.1.8"
fnv = "1.0.7"
futures = { version = "0.3.21", features = ["compat"] }
semver = "1.0.12"
serde = "1.0.138"
serde_json = "1.0.82"
snafu = "0.7.1"
strum = { version = "0.24.1", features = ["derive"] }
tokio = { version = "1.21.1", features = ["full"], package = "tokio" }
tokio01 = { version = "0.1.22", package = "tokio" }
tokio-executor = "0.1.10"
tokio-zookeeper = "0.1.3"
tracing = "0.1.35"
pin-project = "1.0.11"
stackable-operator = { git = "https://github.com/stackabletech/operator-rs.git", tag = "0.25.3" }
stackable-zookeeper-crd = { path = "../crd" }

[build-dependencies]
built = { version = "0.5.1", features = ["chrono", "git2"] }
stackable-operator = { git = "https://github.com/stackabletech/operator-rs.git", tag = "0.25.3" }
stackable-zookeeper-crd = { path = "../crd" }
