{% if lookup('env', 'VECTOR_AGGREGATOR') %}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: vector-aggregator-discovery
data:
  ADDRESS: {{ lookup('env', 'VECTOR_AGGREGATOR') }}
{% endif %}
---
apiVersion: zookeeper.stackable.tech/v1alpha1
kind: ZookeeperCluster
metadata:
  name: test-zk
spec:
  image:
    productVersion: "{{ test_scenario['values']['zookeeper'] }}"
  clusterConfig:
{% if test_scenario['values']['use-server-tls'] == 'true' %}
    tls:
      serverSecretClass: zk-client-secret
{% else %}
    tls:
      serverSecretClass: null
{% endif %}
{% if test_scenario['values']['use-client-auth-tls'] == 'true' %}
    authentication:
      - authenticationClass: zk-client-auth-tls
{% endif %}
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
    logging:
      vectorAggregatorConfigMapName: vector-aggregator-discovery
{% endif %}
  servers:
    config:
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
      resources:
        storage:
          data:
            capacity: '1Gi'
        cpu:
          max: '500m'
          min: '250m'
        memory:
          limit: '512Mi'
    roleGroups:
      primary:
        replicas: 2
        config:
          myidOffset: 10
      secondary:
        replicas: 1
        config:
          myidOffset: 20
          resources:
            storage:
              data:
                capacity: '2Gi'
        podOverrides:
          spec:
            containers:
              - name: zookeeper
                resources:
                  requests:
                    cpu: 300m
                  limits:
                    cpu: 600m
{% if test_scenario['values']['use-client-auth-tls'] == 'true' %}
---
apiVersion: authentication.stackable.tech/v1alpha1
kind: AuthenticationClass
metadata:
  name: zk-client-auth-tls
spec:
  provider:
    tls:
      clientCertSecretClass: zk-client-auth-secret
---
apiVersion: secrets.stackable.tech/v1alpha1
kind: SecretClass
metadata:
  name: zk-client-auth-secret
spec:
  backend:
    autoTls:
      ca:
        secret:
          name: secret-provisioner-tls-zk-client-auth-ca
          namespace: default
        autoGenerate: true
{% endif %}
{% if test_scenario['values']['use-server-tls'] == 'true' %}
---
apiVersion: secrets.stackable.tech/v1alpha1
kind: SecretClass
metadata:
  name: zk-client-secret
spec:
  backend:
    autoTls:
      ca:
        secret:
          name: secret-provisioner-tls-zk-client-ca
          namespace: default
        autoGenerate: true
{% endif %}
---
apiVersion: zookeeper.stackable.tech/v1alpha1
kind: ZookeeperZnode
metadata:
  name: test-znode
spec:
  clusterRef:
    name: test-zk
