---
apiVersion: zookeeper.stackable.tech/v1alpha1
kind: ZookeeperCluster
metadata:
  name: test-zk
spec:
  image:
    productVersion: "{{ test_scenario['values']['zookeeper'] }}"
  clusterConfig:
    tls:
      serverSecretClass: null
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
    logging:
      vectorAggregatorConfigMapName: vector-aggregator-discovery
{% endif %}
  servers:
    config:
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
      resources:
        storage:
          data:
            capacity: '1Gi'
        cpu:
          max: '500m'
          min: '250m'
        memory:
          limit: '0.5Gi'
    roleGroups:
      primary:
        replicas: 3
        config:
          myidOffset: 10
      secondary:
