{% if lookup('env', 'VECTOR_AGGREGATOR') %}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: vector-aggregator-discovery
data:
  ADDRESS: {{ lookup('env', 'VECTOR_AGGREGATOR') }}
{% endif %}
---
apiVersion: zookeeper.stackable.tech/v1alpha1
kind: ZookeeperCluster
metadata:
  name: test-zk
spec:
  image:
{% if test_scenario['values']['zookeeper'].find(",") > 0 %}
    custom: "{{ test_scenario['values']['zookeeper'].split(',')[1] }}"
    productVersion: "{{ test_scenario['values']['zookeeper'].split(',')[0] }}"
{% else %}
    productVersion: "{{ test_scenario['values']['zookeeper'] }}"
{% endif %}
    pullPolicy: IfNotPresent
  clusterConfig:
    tls:
      serverSecretClass: null
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
    vectorAggregatorConfigMapName: vector-aggregator-discovery
{% endif %}
  servers:
    config:
      gracefulShutdownTimeout: 1m
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
      resources:
        storage:
          data:
            capacity: '1Gi'
        cpu:
          max: '500m'
          min: '250m'
        memory:
          limit: '0.5Gi'
    roleGroups:
      primary:
        replicas: 3
        config:
          myidOffset: 10
      secondary:
        replicas: 2
        config:
          myidOffset: 20
