[package]
name = "stackable-zookeeper-crd"
authors = ["Stackable GmbH <info@stackable.de>"]
description = "Contains the Apache ZooKeeper CRD structs and utilities"
license = "OSL-3.0"
version = "0.9.0-nightly"
edition = "2021"
repository = "https://github.com/stackabletech/zookeeper-operator"

[dependencies]
serde = "1.0.136"
serde_json = "1.0.75"
snafu = "0.7.0"
stackable-operator = { git = "https://github.com/stackabletech/operator-rs.git", tag = "0.8.0" }
strum = { version = "0.23.0", features = ["derive"] }
