---
apiVersion: kuttl.dev/v1beta1
kind: TestAssert
timeout: 600
commands:
  - script: kubectl -n $NAMESPACE wait --for=condition=available zookeeperclusters.zookeeper.stackable.tech/test-zk --timeout 301s
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: test-zk-server-default
spec:
  template:
    spec:
      containers:
        - name: zookeeper
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
        - name: vector
{% endif %}
status:
  readyReplicas: 1
  replicas: 1
