---
apiVersion: zookeeper.stackable.tech/v1alpha1
kind: ZookeeperCluster
metadata:
  name: test-zk
spec:
  image:
{% if test_scenario['values']['zookeeper-latest'].find(",") > 0 %}
    custom: "{{ test_scenario['values']['zookeeper-latest'].split(',')[1] }}"
    productVersion: "{{ test_scenario['values']['zookeeper-latest'].split(',')[0] }}"
{% else %}
    productVersion: "{{ test_scenario['values']['zookeeper-latest'] }}"
{% endif %}
    pullPolicy: IfNotPresent
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
  clusterConfig:
    logging:
      vectorAggregatorConfigMapName: vector-aggregator-discovery
{% endif %}
  clusterOperation:
    stopped: false
    reconciliationPaused: false
  servers:
    config:
      gracefulShutdownTimeout: 1m
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    roleGroups:
      default:
        replicas: 1
